################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Console.ProgressBar/.vs
/Console.ProgressBar/Console.ProgressBar/bin
/Console.ProgressBar/Console.ProgressBar/obj
